@font-face {
    font-family: 'OverlayFont';
    src: url('Cousine-Regular-Latin.ttf');
}

* {
	padding: inherit;
	border: inherit;
	margin: inherit;
}

body {
	//background-color: rgba(0, 0, 0, 0.75);
	background-color: transparent;
	//background: #ccc;
	//background: #000;
	font-family: 'OverlayFont', arial, verdana, tahoma;
	//font-size: 20px;
	color: #fff;
	margin: 0; 
	padding: 0;
	border: 0;
	letter-spacing: 0px;
	user-select: none;
}

#mycanvas {
	position: absolute;
	left: 300px;
	top: 300px;
}

div {
	//min-height: 20px;
	//min-width: 20px;
	overflow: hidden;
}

#compute
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
}

#output {
    position: absolute;
	bottom: 130px;
	left: 20px;
}

.block {
	position: absolute;
	font-size: 0;
	text-align: left;
}

.block div {
	text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

#hand_controller1, #hand_controller2, #mission_grip_alt {
	display: inline-block;
	border: 0px;
	font-size: 0;
}

img {
	//position: absolute;
    width: 100%;
    height: 100%;
	-webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,1.0));
}

.img { 
	background-color: #FFF; 
	mask-size: 101% 101%;
	//filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}

#az_pict_frame {
	//mask-image: url(images/az_pict_frame.png);
}

#az_pict_fov {
	//mask-image: url(images/az_pict_fov.png);
	//transform:rotate(90deg);
}

#elev_pict_frame {
	//mask-image: url(images/elev_pict_frame.png);
}

#elev_pict_fov {
	//mask-image: url(images/elev_pict_fov.png);
	//transform:rotate(90deg);
}

#north_arrow {
	//mask-image: url(images/north_arrow.png);
	//transform:rotate(45deg);
}

#hand_controller1 {
	//mask-image: url(images/az_pict_frame.png);
	//mask-image: url(images/little_man.png);
	//background-image: url(images/little_man.png);
	//mask-size: auto auto;
}

#hand_controller2 {
	//mask-image: url(images/little_man.png);
}

#destabilization {
	//mask-image: url(images/destabilization_2.png);
}

#strata_waypoint {
	//mask-image: url(images/strata_waypoint.png);
}
