# ignore building folder:
build/*

# Ignore log files:
*.log

# Ignore .bak files:
*.bak

#Ignore the local setup file
#setup.sh

# CHM file indexes:
*.chw

# ignore UPX
upx.exe

# Eclipse workspace metadata
.metadata
.externalToolBuilders
.settings

# Ignore binary files:
#software/bin/win32
#software/bin/mingw32
#software/bin/mingw64
#software/bin/linux32
#software/bin/linux64

software/tests/*.osgt
software/tests/*.sql

#sgtLauncher

# Ignore luna binding files:
#luna/bind_*.cpp
#luna/register_*.cpp

# Ignore visual studio files:
*.ncb
*.suo
*.user
*Release*

# Ignore generated wrapping files:
#luna/

# Ignore tests:
plug_doxmlparser2/

# Windows files:
Thumbs.db
