<div class="block" id="destabilization"></div>

<div class="block top left" id="datetime_group">
	<div id="date">date</div>
	<div id="time">time</div>
	<div id="utc_offset">utc_offset</div>
</div>

<div id="gate_group">

</div>

<div id="los_reticle_group">

</div>


<div id="message_group">
<div class="block center alarm_slot">		
	<div id="alarm_message"></div>
</div>	
<div class="block center status_slot">		
	<div id="status_message"></div>
</div>	
</div>

<div id="sensor_group">
	<div class="block top sensor_l1" >
		<div id="steering_mode">steering_mode</div>
		<!-- img id='hand_controller1' src='css/images/little_man.png'/-->
		<div id="hand_controller1"><!--img src="css/images/little_man.png"/--></div>
		<div id="mission_grip_alt"></div>
		<div id="hand_controller2"><!--img src="css/images/little_man.png"/--></div>
		<div id="slew_to_radar"></div>
	</div>
	<div id="avt_group">
		<div class="block top sensor_l2 center">		
			<div id="avt_source">avt_source</div>
			<div id="avt_algorithm">avt_algorithm</div>
		</div>
	</div>
	<div class="block top sensor_l3" >		
		<div id="spatial_processing">spatial_processing</div>
		<div id="temporal_processing">temporal_processing</div>
	</div>
	<div class="block top sensor_c center" >		
		<div id="video_in_control">video_in_control</div>
		<div id="sub_vic">sub_vic</div>
	</div>
	<div class="block top sensor_r1 right" id="blend_group">		
		<div id="alpha_blend"></div>
		<div id="blend_mode"></div>
	</div>	
	<div class="block top sensor_r2 right" >		
		<div id="focal_length">focal_length</div>
		<div id="ezoom">ezoom</div>
	</div>
	<div class="block top sensor_r2b right" >		
		<div id="camera_extender"></div>
	</div>	
	<div class="block top sensor_r3 right" >		
		<div id="filter">filter</div>
		<div id="scene_setup">scene_setup</div>
	</div>		
	<div class="block top sensor_r4 right" >		
		<div id="sensitivity">sensitivity</div>
		<div id="black_level">black_level</div>
	</div>
	<div class="block top sensor_r5 right" >		
		<div id="focus">focus</div>
		<div id="focus_trim">focus_trim</div>
	</div>		
</div>

<div id="platform_group">
	<div class="block platform_l0" >		
		<div id="platform_name">ACFT</div>
	</div>
	<div class="block bottom platform_l1 right" >		
		<div id="platform_latitude">platform_latitude</div>
		<div id="platform_longitude">platform_longitude</div>
	</div>
</div>
<div id="platform_data_group">
	<div class="block platform_l2 right" >		
		<div id="platform_heading">platform_heading</div>
	</div>
	<div class="block bottom platform_l3 right" >		
		<div id="platform_altitude">platform_altitude</div>
	</div>			
</div>

<div id="spot_group">
	<div class="block bottom spot_l1 right" >		
		<div id="spot_code"></div>
		<div id="spot_mode"></div>
	</div>		
</div>

<div id="target_group">
	<div class="block bottom target_r1 right" >		
		<div id="terrain_elevation">terrain_elevation</div>
	</div>		
	<div class="block bottom target_r2 right" >		
		<div id="slant_range">slant_range</div>
	</div>		
	<div class="block bottom target_r3 right" >		
		<div id="target_bearing">target_bearing</div>
		<div id="range_source">range_source</div>
	</div>		
	<div class="block bottom target_r4 right" >
		<div id="target_name">TGT</div>
		<div id="target_latitude">target_latitude</div>
		<div id="target_longitude">target_longitude</div>
	</div>
	<div class="block target_r5 right" id="poi_group">		
		<div id="point_of_interest">#5</div>
	</div>
</div>

<div id="picto_group">
	<div class="block elev_pict_value right" >		
		<div id="elevation_pict">picto_elevation</div>
	</div>
	<div class="block az_pict_value right" >		
		<div id="azimuth_pict">picto_azimuth</div>
	</div>
	
	<div class="block" id="az_pict_frame"></div>
	<div class="block" id="az_pict_fov"></div>
	<div class="block" id="elev_pict_frame"></div>
	<div class="block" id="elev_pict_fov"></div>
</div>

<div id="wheel_group">
	<div class="block" id="az_scale"></div>
	<div class="block" id="az_indicator"></div>
	<div class="block" id="elev_scale"></div>
	<div class="block" id="elev_indicator"></div>
</div>

<div id="north_indicator_group">
	<div class="block" id="north_arrow"></div>
	<div class="block north_indicator center" >		
		<div>N</div>
	</div>
</div>

<div id="gated_imaging_group">
	<!--div class="block gated_imaging" >
		<div id="gated_gc">GC:18000m</div>
		<div id="gated_gd">GD:14000m</div>
	</div-->
</div>

<div id="laser_group">
	<div class="block bottom designator right" id="designator_group">
		<div id="desig_function">RNG MAN</div>
		<div id="desig_wavelength">1.57</div>
		<div id="desig_state">STANDBY</div>
		<div id="desig_status">READY</div>
		<div id="desig_code">1788</div>
		<div id="boresight_validity">BORE VALID</div>
		<div id="desig_range">RANGE VALID</div>
	</div>
	
	<div class="block bottom right lrf" id="elrf_group">
		<div id="lrf_range">AUTO VALID</div>
	</div>
	
	<div class="block bottom right see" id="see_group">
		<div id="see_validity">SEE VALID</div>
	</div>
	
	<div class="block bottom illuminator" >
		<div id="illum_line4"></div>
		<div id="illum_line3"></div>
		<div id="illum_line2"></div>
		<div id="illum_line1"></div>
	</div>			
</div>

<div id="mxpod_group">
	<div class="block" id="transmitter_waypoint"></div>	
	<div class="block" id="transmitter_waypoint_fov"></div>	
	<div class="block" id="transmitter_encryption"></div>	
	<div class="block transmitter right" >
		<div id="waypoint_id">DTKW12</div>
		<div id="waypoint_range">2KM</div>
		<div id="transmitter_state">OFF</div>
		<div id="transmitter_channel">8+</div>
	</div>		
</div>



